
.intro{
    padding: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;


    h2{
        text-align: center;
        font-size: 1.5rem;
        padding-bottom: 1%;
    }
    p{
        text-align: center;
    }
    a{
        .custom-links(1.5rem);
        width:15%;
        text-align: center;
        .textBackground();
        border:1px solid darken(@main-color, 20%);
        margin: 3%;

        &:hover{
            background-color: darken(@main-color, 20%);
            text-transform: uppercase;
            width: 20%;
        }
    }
}

.main-container{
    display: flex;
    justify-content: space-evenly;

    .Image{
        border-radius: 10%;
        overflow: hidden;
        display: flex;
        object-fit: contain;
    }

    .text.One{
        width:20%;
        padding: 2%;
        .textBackground;
        display: flex;
        flex-direction: column;

        h3{
            .featureName();
        }


        @media @mobile{
            margin-top: 2%;
            width:80%;
        }

    }
        .Image.list{
            width:20%;
            display: flex;

            @media @mobile{
                width:50%;
            }

            img{
                width: 100%;
                display: flex;
                object-fit: cover;
            }
        }
    }
        .text.Two{
            width:20%;
            padding: 2%;
            .textBackground;
            flex-direction: column;

            h3{
                .featureName();
            }

            @media @mobile{
                margin-top: 2%;
                width:80%;
            }
        }
        .Image.notepad{
            width:20%;
            display: flex;

            @media @mobile{
                width:50%;
            }

            img{
                width: 100%;
            }
}

.features{
    padding: ;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

    h3{
        width:100%;
        .custom-links(1.5rem);
        color: black;
        margin: 2% 0% 0% 3%;
    }

    div{
        margin: 2%;
        .textBackground();
        width: 30%;
        text-align: center;

        &:hover{
            background-color: darken(@main-color, 20%);
            cursor: pointer;
        }

        h4{
            padding: 2%, 0%;
        }
    }


}